/*--------------------------------------------------------
Resets
--------------------------------------------------------*/
html, body {
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*--------------------------------------------------------
Commons
--------------------------------------------------------*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
	font-family:"Danger";
	src:url("../fonts/Danger.eot?") format("eot"),
	url("../fonts/Danger.woff") format("woff"),
	url("../fonts/Danger.ttf") format("truetype"),
	url("../fonts/Danger.svg#Danger") format("svg");
	font-weight:normal;
	font-style:normal;
	}


::-moz-selection {background: #09c;color: white; }
::selection {background: #09c;color: white; }

body {
	background: white;
	font: 13px 'Open Sans', sans-serif;
	color: #1c1f26;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.scaleimg {
	width: 100%;
    height: auto;
}

.hidden {
	display: none;
}

.vertical-text {
	display: table-cell;
	vertical-align: middle;
}

.pattern {
	background: url(../images/pattern.png);
	width: 100%;
	position: absolute;
}


/*--------------------------------------------------------
Typography
--------------------------------------------------------*/

h1, h2, h3, h4 {
	text-transform: uppercase;
	font-weight: 400;
}

h1 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 86px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 32px;
	border-bottom: 4px #09C solid;
}

h1.white {
	color: white;
}

h2 {
	font-family: 'BebasNeueRegular', sans-serif;
	font-size: 44px;
	text-transform: uppercase;
	position: relative;
}

h2.white {
	color: white;
}


h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}

h3.white {
	color: white;
}

h4 {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}

p {
	margin-top: 10px;
}

p a {
	color: #09c;
	text-decoration: none;
}

p a:hover {
	color: #868991;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}



/*--------------------------------------------------------
Navigation
--------------------------------------------------------*/

nav {
	background: url(../images/nav-bg.png);
	width: 100%;
	position: relative;
	z-index: 1000;
	height: 50px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.links {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.links li {
	display: inline;
	margin: 0 15px 0 0;
}

.links a {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.links a:visited {
	color: white;
}

.links a:hover {
	color: #09c;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
}

.links img {
	margin-left: 22px;
	width: 18px;
	height: 18px;
	opacity:0.3;
}

.links img:hover {
	opacity:1; 
}

.social-icons {
	text-align: right;
	margin-top: 18px;
}

.social-icons li {
	display: inline-block;
	margin: 0 0 0 6px;
}

.social-icons img {
	background: url(../images/social-icons-bg.png);
	border-radius: 18px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
}

.social-icons img:hover {
	background-color: #09c;
	transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	-o-transition: wbackground-color 0.5s;
}

.dropmenu {
	display: none;
}




/*--------------------------------------------------------
Parallax
--------------------------------------------------------*/


#parallax1, #parallax2, #parallax3 {
	width: 100%;
	height: 440px;
	background-color: #1c1f26;
	position: relative;
	overflow: hidden;
}

#parallax1 .vertical-text,
#parallax2 .vertical-text,
#parallax3 .vertical-text,
#parallax1 .pattern,
#parallax2 .pattern,
#parallax3 .pattern {
	height: 440px;
}


	/*Parallax1------------------------------------------*/
	
	.bg1 {
		background: url(../images/parallax/teaser1.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	p.prlx-quote {
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 48px;
		line-height: 1;
		margin-bottom: 20px;
		color: white;
		text-align: center;
		text-transform: uppercase;
		z-index: 200;
		margin: 0 10% 0 10%;
	}
	
	.prlx-author {
		height: 24px;
		background: url(../images/quote.png) left no-repeat;
		width: auto;
		padding-left: 40px;
		font-size: 20px;
		font-weight: 600;
		color: white;
		text-transform: uppercase;
		line-height: 0.9;
		position: relative;
		margin-top: 26px;
		left: 42%;
		z-index: 200;
	}


	/*Parallax2------------------------------------------*/
	
	.bg2 {
		background: url(../images/parallax/teaser2.jpg) top center fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 120%;
	}
	
	/* twitter */
	
	
	
	.jta-tweet-list{
		padding: 0;list-style: none;
		}

	.jta-tweet-list-item{
		background: transparent;
    	padding: 8px 0px 8px 0px;
		overflow: hidden;
		}


	.jta-tweet-profile-image{
		width: 48px;
		display: inline;
		float: left;
		}

	.jta-tweet-profile-image img{
		width: 48px;
		height: 48px;
		}

	.jta-tweet-text{
		color: white; font-size: 40px;
		}

	.jta-tweet-body-list-profile-image-present{
		margin-left: 58px;
		}

	.jta-tweet-user-name{
		display: block;
		}

	.jta-tweet-user-screen-name{
		font-weight: bold;
		}

	.jta-tweet-user-full-name{
		font-size: 11px;
	    color: #999;
		}

	.jta-tweet-user-screen-name-link, .jta-tweet-a, .twitter-anywhere-user{
		color: #FF9898;
		text-decoration: none;
		}

	.jta-tweet-user-screen-name-link:hover, .jta-tweet-a:hover, .twitter-anywhere-user:hover {
	    color: #89BE2A;
		text-decoration: underline;
		}

	.jta-tweet-user-full-name-link{
	    color: #999;
		text-decoration: none;
		}

	.jta-tweet-user-full-name-link:hover{
	    color: #666666;
		text-decoration: underline;
		}

	.jta-tweet-attributes{
		display: block;
    	color: #999;
    	font-size: 11px;
    	margin-top: 3px;
		}

	.jta-tweet-twitter-bird-icon{
		float: left;
		width: 19px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		background-image: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_gray/bird_16_gray.png);
		}

	.jta-tweet-twitter-bird-icon:hover{
		background-image: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_black/bird_16_black.png);
		}

	.jta-tweet-timestamp-link, .jta-tweet-source-link a, .jta-tweet-inreplyto-link, .jta-tweet-location-link, .jta-tweet-retweeter-link {
	    color: #B3B3B3;
		text-decoration: none;
		font-size: 15px;
		padding-left: 10px;
		}

	.jta-tweet-timestamp-link:hover, .jta-tweet-source-link a:hover, .jta-tweet-inreplyto-link:hover, .jta-tweet-location-link:hover, .jta-tweet-retweeter-link:hover {
	    color: orange;
		text-decoration: none;
		}

	.jta-tweet-actions{
		display: block;
    	color: #999;
    	font-size: 11px;
    	margin-top: 3px;
	}

	.jta-tweet-action-reply, .jta-tweet-action-retweet, .jta-tweet-action-favorite{
		padding-right: 1em;
	}

	.jta-tweet-action-reply a, .jta-tweet-action-retweet a, .jta-tweet-action-favorite a{
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 0px 0px;
		padding-left: 19px;
		padding-top: 3px;
		color: #999;
		text-decoration: none;
	}

	.jta-tweet-action-reply a    { background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/reply.png); }
	.jta-tweet-action-retweet a  { background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/retweet.png); }
	.jta-tweet-action-favorite a { background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/favorite.png); }

.jta-tweet-action-reply a:hover, .jta-tweet-action-retweet a:hover, .jta-tweet-action-favorite a:hover{
    	color: #666666;
		text-decoration: underline;
	}

	.jta-tweet-action-reply a:hover    { background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/reply_hover.png); }
	.jta-tweet-action-retweet a:hover  { background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/retweet_hover.png); }
	.jta-tweet-action-favorite a:hover { background-image: url(http://si0.twimg.com/images/dev/cms/intents/icons/favorite_hover.png); }

	.jta-tweet-list-controls{
		margin-top: 20px;
	}

	.jta-tweet-list-controls-button{
		padding: 5px;
		background-color: whiteSmoke;
	}

	.jta-tweet-list-controls-button:hover{
		color: black;
		cursor: pointer;
	}

	.jta-tweet-list-controls-button-next{
		margin-left: 10px;
	}

	.jta-tweet-list-autorefresh-trigger{
		padding: 8px 0px 8px 0px;
		margin-bottom: 10px;
		text-align: center;
    	border: 1px solid #999;
	}

	.jta-tweet-list-autorefresh-trigger:hover{
		color: black;
		background-color: #999;
		cursor: pointer;
	}

	.jta-login-info-profile-image{
		width: 48px;
		display: inline;
		float: left;
	}

	.jta-login-info-profile-image img{
		width: 48px;
		height: 48px;
	}

	.jta-login-info-block{
		margin-left: 58px;
	}

	.jta-login-info-sign-out{
		width: 97px;
		margin-top: 2px;
		padding: 1px;
		text-align: center;
    	border: 1px solid #999;
	}

	.jta-login-info-sign-out:hover{
		color: black;
		background-color: #999;
		cursor: pointer;
	}

	.jta-loading{
		margin: 0;
    	padding: 8px 0px 8px 0px;
	}

	.jta-error{
		margin: 0;
    	padding: 8px;
    	color: #000;
    	background-color: #f00
	}

	.jta-nodata{
		margin: 0;
    	padding-top: 8px;
    	padding-bottom: 8px;
	}

	.jta-clear{
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	
	.twitter-author {
		text-transform: uppercase;
		font-family: 'BebasNeueRegular', sans-serif;
		font-size: 24px;
	
	}
	
	.tweet {
		font-family: 'Oswald', sans-serif;
		color: white;
		line-height: 1.4;
		margin: 7px 0 12px 0;
		width: 100%;	
		height:250px;
	}
	
	.twitter-date {
		color: #868991;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
	}


	/*Parallax3------------------------------------------*/
	
	#parallax3 h2 {
		text-align: center;
		margin-bottom: 60px;
		border-bottom: 1px solid white;
	}
	
	.bg3 {
		background: url(../images/parallax/teaser3.jpg) 50% 50% fixed repeat-y;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: absolute;
		background-size: 110%;
	}
	
	.clients {
		text-align: center;
	}
	
	.clients li {
		display: inline;
		margin: 0 15px 0 15px;
		height: 50px;
		opacity:1;
	}
	
	.clients li:hover {
		opacity:0.7;
	}



/*--------------------------------------------------------
Content
--------------------------------------------------------*/

#resume, #portfolio {
	padding-top: 64px;
	padding-bottom: 0px;
	position: relative;
	background: white;
}

 #about, #services {
	padding-top: 64px;
	padding-bottom: 44px;
	position: relative;
	background: white;
}

.one-text {
	font-size: 20px;
	line-height: 1.5; 
}

.one-text p {
	margin-top: 0px;
}

.description {
	font-size: 14px;
	line-height: 18px;
	padding: 3px 20px;
}

.columns .img-wrp {
	position: relative;
}

.img-wrp img {
	display: block;
}


.overlay-wrp {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	height: 100%;
	width: 100%;
}

.overlay-wrp .overlay {
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;
	width: 100%;
}

.overlay {
	background: #09c;

}
    
	
	/*Homepage------------------------------------------*/
	
	#homepage {
		background: url(../images/pattern.png);
		position: relative;
		overflow: hidden;
		height: 100%;
		margin-bottom: -50px;
	}
	
	#homepage .container {
		height: 100%;
	}
	
	.logo {
		top: 40px;
		position: absolute;
		opacity: 0;
		filter: alpha(opacity=50);
	}
	
	
	.slider-text {
		position: absolute;
		overflow: hidden;
		bottom: 110px;
		min-height: 220px;
	}
	
	#slidecaption { 
		overflow: hidden;
		float: left;
		color: white;
		font: 92px/0.9 "Danger", Helvetica, Arial, sans-serif;
		margin: 0 20px 0 0;
		font-weight: 700;
	}
	
	.slidedescription {
		font: 600 30px "Open Sans", Helvetica, Arial, sans-serif;
		margin: 34px 0 0 0;
		text-transform: uppercase;
	}
	
	.line {
		border-bottom: solid white 1px;
		margin-bottom: 36px;
		opacity: 0;
		filter: alpha(opacity=0);
	}	
	
	
	/*About------------------------------------------*/
	
	.container .overlay-content.social-icons {
		text-align: center;
		margin-top: -11px;
		position: absolute;
		top: 20%;
		width: 100%;
		z-index: 10;
	}
	
	.container .overlay-content.social-icons img {
		background: white;
		border-radius: 18px;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		opacity: 0.7;
	}
	
	.container .overlay-content.social-icons img:hover {
		opacity: 1;
		transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
	}
	
	.column .img-wrp {
		position: relative;
		margin: 52px 0 14px 0;
		
	}	
	
	
	.job-position {
		color: #868991;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		margin: -4px 0px 14px 0px;
	}
	
	#about h3{
	border-left: 6px solid #09C;
	padding-left: 20px;
	text-transform: none;
	background-color: whiteSmoke;
	}

	#about h3:hover {
	border-left: 6px solid black;
	padding-left: 20px;
	text-transform: none;
	background-color: #09c;
	}
	
	
	/*Resume------------------------------------------*/

	.resume-full {
		background: #E2DA0D;
		padding: 60px 0px 60px 0px;
		margin: 53px 0px 0px 0px;
	}
	
	#resume h4 {
		margin: 54px 0 10px 0;
	}
	
	#resume h3 {
	border-bottom: 4px solid #09c;
	}
	
	span.label.blue{
	background-color: #09c;
	color: white;
	padding: 4px;
	}

	.history-unit {
	padding-left: 20px;
	margin-bottom: 30px;
	border-width: 0 0 0 2px;
	border-style: solid;
	border-color: #000;
	}
	
	.history-unit h4 .work-time {
	float: right;
	font-size: .9em;
	color: black;
	}

	.history-unit h5, .history-unit h4 .work-time { border-color:#eee; }
	
	/*Services------------------------------------------*/
	
	#services h3 {
		text-align: center;
		margin-top: 46px;
	}
	
	#services .description {
		text-align: center;
	}

	.icon {
		width: 160px;
		height: 160px;
		border-radius:160px;
		-webkit-border-radius: 160px;
		-moz-border-radius: 160px;
		margin: 24px auto 24px auto;
		background: #333 center center no-repeat;
	}
	
	#services .container .one-third.column {
		background-color: whitesmoke;
		margin: 15px 10px;
		padding-bottom: 20px;
		border-bottom: 4px solid black;
	}	
	
	#services .container .one-third.column:hover {
		background-color: #09c;
		border-bottom: 4px solid black;
	}
	/*Portfolio------------------------------------------*/
	
	#portfolio h1  {
		margin-bottom: 34px;
	}
	
	.project-title {
		font-family: 'Oswald', sans-serif;
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 7px;
	}
	
	.project-description {
		color: #868991;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 600;
		margin: 0 0 20px 0;
	}
	
	.columns .overlay-content.loupe {
		width: 34px;
		height: 34px;
		background: url(../images/loupe.png) 0px 0px no-repeat;
		position: absolute;
		top: 22%;
		margin: -17px 0 0 -17px;
		left: 50%;
		z-index: 10;
	}

/*--------------------------------------------------
		    PORTFOLIO FILTERABLE NAVIGATION
---------------------------------------------------*/
.filterable {
	width: 100%;
	float: left;
	padding-bottom: 25px;
	padding-left: 15px;
}
.filterable ul {
	margin: 0 auto;
}
.filterable li {
	background: none;
	display: inline;
	float: left;
}
.filterable li:last-child {
	background: none;
}
.filterable li:last-child a {
	margin: 0 0 0 7px;
}
.filterable li a {
	font-size: 11px;
	color: #aaa;
	line-height: 16px;
	text-transform: uppercase;
	text-decoration: none;
	float: left;
	margin:0 5px;
	padding:0 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
.filterable li a:hover {
	color: #fff;
	background-color:#09c;
}
.filterable li.current a {
	color:#fff;
	background-color:#09c;
}
.filterable li span {
	font-size: 11px;
	color: #ccc;
}

/*--------------------------------------------------
				PORTFOLIO
---------------------------------------------------*/

.portfolio-grid ul li a.hide {
	display: none;
}
.portfolio-grid {
	width: 100%;
	padding: 0px 10px;
	float: left;
}
.portfolio-grid ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.portfolio-grid ul li {
	float: left;
	position: relative;
	background-color: transparent;
}
.portfolio-grid ul li.col2 {
	width: 479px;
}
.portfolio-grid ul li.col3 {
	width: 319px;
}
.portfolio-grid ul li img {
	float: left;
	width:100%;
	
}
.item-info {
	padding: 15px;
	float: left;
	
	
}
.item-info h3, .item-info-overlay h3 {
	font-size: 16px;
	font-family: 'Dosis';
	text-transform:uppercase;
	font-style: normal;
	font-weight: 300;
	line-height: 17px;
	margin-bottom: 0;
	
	
}
.item-info h3.title {
	color: #fff;
}
.item-info-overlay h3.title {
	color: #fff;
}
.item-info-overlay h3.title {
	color: #fff;
}
.item-info h4, .item-info-overlay h4 {
	font-size:12px;
	line-height: 16px;
	color:#333;
	text-transform: uppercase;
	margin-bottom: 0;
}

/*--------------------------------------------------
		    PORTFOLIO THUMBNAIL HOVER
---------------------------------------------------*/
.item-info-overlay {
	color: #fff;
	font-size:11px;
	
	 
}
.item-info-overlay {
	position:absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0px;
	display: none;
	background:#8cbd2e;
	z-index:99;
}
.item-info-overlay div {
	padding: 0 9% 9% 9%;
	
}
.item-info-overlay h3 {
	padding: 9% 9% 2% 9%;
	font-size: 17px;
}
.item-info-overlay p {
	margin-top: 10px;
	padding-top: 10px;
}
.item-info-overlay a.preview, .item-info-overlay a.view {
	position: absolute;	
	text-indent: -9999px;
	height: 36px;
	width: 35px;
	z-index: 110;
	left:50%;
	
}
.item-info-overlay a.preview {
	background: url(../images/ico_zoom.png) no-repeat;
	
}
.item-info-overlay a.preview:hover {
	background: url(../images/ico_zoom.png) no-repeat;
	-webkit-transition:all 0.14s ease 0s;
	-moz-transition:all 0.14s ease 0s;
	-o-transition:all 0.14s ease 0s;
}

.view {
   float: left;
   overflow: hidden;
   position: relative;
   cursor: default;
}
.view .mask,.view .content {
  
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   padding:20px;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   position: relative;
   font-size: 16px;
   line-height:18px;
   margin-bottom:10px;
   font-family: 'aller_lightregular';

}
.view p {
  
   font-size: 11px;
   position: relative;
   color: #fff;
   line-height:18px;
   margin-bottom:15px;
   padding-right:10px;
 
}
.view a.info {
   display: block;
   text-decoration: none;
    background: url(../images/ico_zoom.png) no-repeat;
	float:right;
	position:relative;
	bottom:-22px;
	right:15px;
	padding-top:100px;
 
 
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}

.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
   background-color: #09c;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
     height:100%;
	 width:100%;
}
.view-tenth h2 {

   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
  
}
.view-tenth p {
   
 
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth a.info {
   
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
 
}
	
/*-------------------------------------------------
Portfolio Hover
---------------------------------------------------*/

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 280px;
	height: 280px;
	display: inline-block;
	margin: 18px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: #2b2d30;
	opacity: 0;
}

.ch-img-1 { 
	background-image: url(../images/home/pic1.jpg);
}

.ch-img-2 { 
	background-image: url(../images/home/pic2.jpg);
}

.ch-img-3 { 
	background-image: url(../images/home/pic3.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 11px;
	
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}

/*--------------------------------------------------------
 Skills 
--------------------------------------------------------*/
.skills {
	display: block;
	margin-top:15px;
	padding: 0px;
	list-style-type: none;
}
.skills li, .skills li span {
	
	background-color:#ededed;
}
.skills li {
	margin-bottom: 30px;
	font-size: 12px;
	font-weight: 600;
}
.skills li span {
	margin-bottom: 0;
	padding:10px;
	color:#000000;
}
.skills li strong {
	margin-left: 5px;
	color: #fff;
}
.skills li span {
	background-color:#02C5B6;
}

	/*Contact------------------------------------------*/

	#contact {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;
		background-color: #1c1f26;
		background: url(../images/contacts.jpg) top center fixed;
		background-size: cover;
	}
	
	#contact .pattern {
		height: 100%;
	}

	.card {
		width: 100%;
		background: url(../images/contact-bg.png);
		text-align: center;
		padding: 0px 0 60px 0;
		margin: 20% 0;
	}
	
	.adress {
		color: #868991;
		font-size: 22px;
		margin-top: 10px;
	}
    
	.lines {
		width: 76%;
		border-top: white 1px solid;
		border-bottom: white 1px solid;
		text-transform: uppercase;
		color: white;
		font-family: 'Oswald', sans-serif;
		font-size: 36px;
		padding: 31px 0 31px 0;
		margin: 12px auto 40px auto;
		line-height: 1.45;
	}

	.contact-social-icons {
		text-align: center;
	}
	
	.contact-social-icons li {
		display: inline;
		margin: 0 7px 0 7px;
	}
	
	.contact-social-icons img {
		background: url(../images/social-icons-bg.png);
		width: 60px;
		height: 60px;
		border-radius: 60px;
		-webkit-border-radius: 60px;
		-moz-border-radius: 60px;
	}
	
	.contact-social-icons img:hover {
		background-color: #09c;
		transition: background-color 0.5s;
		-moz-transition: background-color 0.5s;
		-webkit-transition: background-color 0.5s;
		-o-transition: wbackground-color 0.5s;
	}
	
	.copyright {
		background: url(../images/footer-gr.png);
		width: 100%;
		height: 80px;
		position: absolute;
		bottom: 0;
	}
	
	.copyright p {
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		font-size: 11px;
		color: white;
		margin-top: 46px;
	}